h1{
    color: #fffffe;
}

.main-container{
    background-color: #1d1b2c;
}

.appointmentHeader{
    color: #fffffe;
}

.appointmentCard{
    height: 3rem;
}

.priorityContainer{
    width: 0.5rem;
}

.option-btn{
    width: 3rem;
}

.option-btn:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    transition: all 0.2s ease;
}