h1{
    color: #fffffe;
}

.main-container{
    background-color: #1d1b2c;
}

.appointmentHeader{
    color: #fffffe;
}

.appointmentCard{
    height: 3rem;
}

.priorityContainer{
    width: 0.5rem;
}

